<section class="hero is-fullheight has-text-centered" id="about">
    <div class="hero-body" id="invitation">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen" id="column1">
                    <img src="../assets/images/upperFlowerBorder.png" alt="upperFlowerBorder">
                    <p>Ezúton szeretettel meghívunk téged az esküvőnkre, mely nagy irók időtlen meséinek inspirációjával szövődik össze, hogy a kaland és a felfedezés élményében te is osztozhass velünk. Jötöttökre augusztus utolsó napján számítunk, napnyugtakor, kelet felől, nem máshol mint a mesés Galopp Major kapuinál, ahol a varázslat kibontakozik.</p><br>
                    <p>Tedd meg velünk eme rendkívüli utazás első lépést, fogadalom tételtől a koccintásokig, egy olyan ünnepen, mely a klasszikus fantasy-k hangulatát idézi. Minthogy pedig egy kaland részese leszel, hát öltözz is aként! Nem kell ide nyakkendő és báli ruha, csak az egyszerűség és a minimális elegancia.</p> <br>
                    <p>És bár jelenléted és jókívánságaid az igazi kincs, aminél többet nem is tudnánk kérni és amely összeköt bennünket, azoknak, akik ajándékot szeretnének adni, egy hozzájárulást javaslunk a további közös küldetéseinkhez. Az önzetlen segítségetekkel formálhatjuk utunk tájait, és építhetünk egy életet, mely tele van szeretettel és örömmel.</p><br>
                    <p>Csatlakozz hozzánk egy napra, mely tele van vígassággal, nevetéssel, és a mi saját epikus történetünk kezdetével. Az ünnep vár, és alig várjuk, hogy megosszuk ezt a különleges napot veled.</p><br>
                    <p>Szeretettel,</p>
                    <p>Gergó & Zsófi</p>
                </div>
                <div class="column has-text-centered-desktop has-text-centered-tablet has-text-centered-fullhd has-text-centered-widescreen" id="column2">
                    <p>Dátum: 2024.08.31</p><br>
                    <a href="{{post.url | absolute_url}}/#contact" class="iviteLinks">Helyszín: Galopp Major</p><br>
                    <a href="{{post.url | absolute_url}}/blog/mi-az-a-smart-casual" class="iviteLinks">Dress code: Smart casual</a><br>
                    <hr>
                    <h1>Menetrend</h1><br>
                    <p>Vendég várás kezdete: TBD</p> <br>
                    <p>Ceremónia: TBD</p> <br>
                    <p>Vacsora: TBD</p> <br>
                    <p>Mennyasszony Tánc: TBD</p> <br>
                    <p>Ereszd el a hajam: TBD</p> <br>
                    <img src="../assets/images/lowerFlowerBorder.png" alt="lowerFlowerBorder">
                </div>
            </div>
        </div>
</section>