<section class="hero is-fullheight has-text-centered" id="about">
    <div class="hero-body" id="invitation">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen" id="column1">
                    <img src="../assets/images/upperFlowerBorder.png" alt="upperFlowerBorder">
                    <p>Kedves Rokonokok és Barátok!</p><br>
                    <p>Szeretettel meghívunk az esküvőnkre, mely egy olyan utazás kapuja lesz számunkra, ami nagy írók időtlen történeteihez lesz hasonlatos. Gyertek el, hogy ezen kaland és felfedezés élményeiben ti is osztozhassatok velünk. Jöttötökre augusztus utolsó napján számítunk, napnyugtakor, kelet felől, nem máshol, mint a mesés Galopp Major kapuinál, ahol a varázslat kibontakozik.</p><br>
                    <p>Tegyétek meg velünk eme rendkívüli utazás első lépését, fogadalom tételtől a koccintásig, egy olyan ünnepen, mely a klasszikus fantasy-k hangulatát idézi. Minthogy pedig egy kaland részesei lesztek, hát öltözzetek is aként! Nem kell ide nyakkendő vagy báli ruha, csak az egyszerűség és a minimális elegancia.</p> <br>
                    <p>És bár jelenlétetek és jókívánságaitok az igazi kincs, aminél többet nem is tudnánk kérni, és amely összeköt bennünket, azonban azoknak, akik ajándékot szeretnének adni, egy hozzájárulást szeretnénk javasolni a további közös küldetéseinkhez. Emódon önzetlen segítségetekkel formálhatjuk utunk tájait, és építhetünk egy olyan életet, mely tele van szeretettel és vidámsággal.</p><br>
                    <p>Csatlakozzatok hozzánk egy napra, mely csordultig lesz vígassággal, nevetéssel, és ami a mi közös történetünknek lesz a kezdete. Az ünnep vár, és alig várjuk, hogy megosszuk ezt a különleges napot veletek.</p><br>
                    <p>Szeretettel,</p>
                    <p>Gergó & Zsófi</p>
                </div>
                <div class="column has-text-centered-desktop has-text-centered-tablet has-text-centered-fullhd has-text-centered-widescreen" id="column2">
                    <p>Dátum: 2024.08.31</p><br>
                    <a href="{{post.url | absolute_url}}/#contact" class="iviteLinks">Helyszín: Galopp Major</p><br>
                    <a href="{{post.url | absolute_url}}/blog/mi-az-a-smart-casual" class="iviteLinks">Dress code: Smart casual</a><br>
                    <hr>
                    <h1>Menetrend</h1><br>
                    <p>Vendég várás kezdete: 17:00</p> <br>
                    <p>Ceremónia: 18:00</p> <br>
                    <p>Vacsora: 20:00</p> <br>
                    <p>Menyecske Tánc: 23:30</p> <br>
                    <p>Ereszd el a hajam: ∞ </p> <br>
                    <img src="../assets/images/lowerFlowerBorder.png" alt="lowerFlowerBorder">
                </div>
            </div>
        </div>
</section>