<section class="hero is-fullheight has-text-centered" id="about">
    <div class="hero-body" id="invitation">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen" id="column1">
                    
                </div>
                <div class="column has-text-centered-desktop has-text-centered-tablet has-text-centered-fullhd has-text-centered-widescreen" id="column2">
                    <p>Dátum: 2024.08.31</p><br>
                    <a href="{{post.url | absolute_url}}/#contact" class="iviteLinks">Helyszín: Galopp Major</p><br>
                    <a href="{{post.url | absolute_url}}/blog/mi-az-a-smart-casual" class="iviteLinks">Dress code: Smart casual</a><br>
                    <hr>
                    <h1>Menetrend</h1><br>
                    <p>Vendég várás kezdete: 17:00</p> <br>
                    <p>Ceremónia: 18:00</p> <br>
                    <p>Vacsora: 20:00</p> <br>
                    <p>Menyecske Tánc: 23:30</p> <br>
                    <p>Ereszd el a hajam: ∞ </p> <br>
                    <img src="../assets/images/lowerFlowerBorder.png" alt="lowerFlowerBorder">
                </div>
            </div>
        </div>
</section>